*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html,body{
width: 100%;
height: 100%;
}
body{
    background-color: rgb(54, 54, 212);
    display: flex;
    justify-content: center;
    align-items: center;
}

#card{
    height: 480px;
    width: 300px;
    background-color: white;
    border: 3px solid #000;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

#storiyan{
    width: 100%;
    height: 120px;
    border-bottom: 1px solid #dadada;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 15px;
}

#storiyan::-webkit-scrollbar{
    display: none;
}

.story{
    border: 3px solid red;
    height: 90px;
    border-radius: 50%;
    width: 90px;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
}

.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#full-screen{
    height: 100%;
    width: 100%;
    background-size: cover;

    background-position: center;
    position: absolute;
    display: none;
}