*{
margin: 0;
padding: 0;
box-sizing: border-box;
color: white;
}
html,body{
width: 100%;
height: 100%;
}

main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom,rgb(26, 26, 26), rgb(30, 30, 30),  black);
    padding: 20px;
}

main section{
    height: 100%;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    /* overflow: hidden; */
}

.all-reels{
    height: 100%;
    width: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.all-reels::-webkit-scrollbar{
    display: none;
}

.reel{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: lightblue;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.reel img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.reel .bottom{
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.948));
    padding: 30px 20px;
    position: absolute;
    bottom: 0;
}

.bottom .user{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.bottom .user img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.bottom .user h4{
    font-size: 15px;
    font-weight: 500;
}

.bottom .user button{
    background-color: transparent;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
    border: 1px solid #fff;
}

.bottom > h3{
    font-weight: 500;
    font-size: 20px;
}

.right{
    width: 40px;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 18px;
    padding: 30px;
    right: 0;
    /* transform: translateX(100%); */
    bottom: 13%;
}

.right h4{
    cursor: pointer;
}

.right i{
    font-size: 25px;
    font-weight: 100;
}

.right h6{
    font-size: 15px;
    font-weight: 500;
}

.right>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.love{
    color: red;
}

video{
    width: 100%;
}