*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}

body{
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    gap: 2rem;

    padding: 15px 30px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);

}

nav a{
    position: relative;
    text-decoration: none;
    color: rgba(47, 46, 46, 0.823);
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

nav:has(a:hover) a{
    transform: scale(0.8);
    opacity: 0.5;
}

nav a:hover{
    transform: scale(1.2) !important;
    opacity: 1 !important;
    color: black;
    text-shadow: 0 0 10px rgba(202, 9, 93, 0.5);
    letter-spacing: 2px;
}

nav a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    background: rgb(202, 9, 93);
    border-radius: 50px;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}