*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: white;
}

html,body{
width: 100%;
height: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
}

main .elem{
    border-bottom: 3px solid #fff;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-left: 20px;

}

main img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    opacity: 0;
    transition: all linear 0.3s;
}

main .elem h1{
    font-size: 6vw;
    font-weight: 900;
}