* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
//   background-color: black;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    h1{
        text-align: center;
        padding: 10px 15px;
        font-size: 5rem;
        font-weight: 900;
        background: linear-gradient(red,blue);
        background-clip: text;
        color: transparent;
    }
}