* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
//   background-color: black;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    h1{
        text-align: center;
        padding: 10px 15px;
        font-size: 5rem;
        font-weight: 900;
        background-image: url(https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExamUwZDZ5eWpjbjl2N3BqNzZyZTM4Z296MmNjd2Y1YjdibmYwdmJweSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3GnKKEw2v7bXi/giphy.gif);
        background-size: cover;
        background-position: center;
        background-clip: text;
        color: transparent;
    }
    .card-container{
        width: 100%;
        height: 550px;
        padding: 30px;
        // padding-left: 130px;
        display: flex;
        justify-content: center;    
        align-items: center;
        gap: 15px;
        overflow: auto;
        scroll-behavior: smooth;
        flex-wrap: nowrap;
        .cards{
            width: 300px;
            height: 100%;
            flex-shrink: 0;
            img{
                width: 100%;
                height: 100%;
                border-radius: 20px;
                object-fit: cover;
                object-position: center;
                box-shadow: 2px 2px 15px rgba(255, 0, 0, 0.382);
                transition: transform 0.3s ease;
                cursor: pointer;
                &:hover{
                    transform: scale(1.05);
                }
            }
        }
    }
}
.card-container::-webkit-scrollbar {
  display: none;
}