*{
margin: 0;
padding: 0;
box-sizing: border-box;
color: white;
}
html,body{
width: 100%;
height: 100%;
}

body{
    background-color: rgba(0, 0, 0, 0.637);
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 8vw;
}